<h2>順位計算設定</h2>
<div class="rate">
    <div>
        <div class="point-setting">
            <label>勝ち：</label>
            <input type="text" class="point-form" value=3>点
            <br>
            <label>分け：</label>
            <input type="text" class="point-form" value=1>点
            <br>
            <label>負け：</label>
            <input type="text" class="point-form" value=0>点
        </div>
        <div class="winner-setting">
            <label>各グループの上位</label>
            <input type="text" class="winner-form">人まで勝ち上がり
        </div>
    </div>
    <div class="other-setting">
        <input type="checkbox">得失点差を考慮する
        <br>
        <button>結果を更新する</button>
    </div>
</div>
<hr>
<h2>リーグ表</h2>
<div id="group-1">
    <h3>グループA</h3>
    <div class="match-list">
        <div>
            <p>------- 第1回戦 -------</p>
            <table class="round">
                <tr>
                    <td>プレイヤー1</td>
                    <td>
                        <div class="result">
                            <button class="result-win">○</button>
                            <button class="result-draw">△</button>
                            <button class="result-win">○</button>
                        </div>
                        <div class="score">
                            <input type="text" class="score-form"> - <input type="text" class="score-form">
                        </div>
                    </td>
                    <td>プレイヤー2</td>
                </tr>
                <tr>
                    <td>プレイヤー3</td>
                    <td>
                        <div class="result">
                            <button class="result-win">○</button>
                            <button class="result-draw">△</button>
                            <button class="result-win">○</button>
                        </div>
                        <div class="score">
                            <input type="text" class="score-form"> - <input type="text" class="score-form">
                        </div>
                    </td>
                    <td>プレイヤー4</td>
                </tr>
                <tr>
                    <td>プレイヤー5</td>
                    <td>
                        <div class="result">
                            <button class="result-win">○</button>
                            <button class="result-draw">△</button>
                            <button class="result-win">○</button>
                        </div>
                        <div class="score">
                            <input type="text" class="score-form"> - <input type="text" class="score-form">
                        </div>
                    </td>
                    <td>プレイヤー6</td>
                </tr>
            </table>
        </div>
        <div>
            <p>------- 第2回戦 -------</p>
            <table class="round">
                <tr>
                    <td>プレイヤー1</td>
                    <td>
                        <div class="result">
                            <button class="result-win">○</button>
                            <button class="result-draw">△</button>
                            <button class="result-win">○</button>
                        </div>
                        <div class="score">
                            <input type="text" class="score-form"> - <input type="text" class="score-form">
                        </div>
                    </td>
                    <td>プレイヤー3</td>
                </tr>
                <tr>
                    <td>プレイヤー2</td>
                    <td>
                        <div class="result">
                            <button class="result-win">○</button>
                            <button class="result-draw">△</button>
                            <button class="result-win">○</button>
                        </div>
                        <div class="score">
                            <input type="text" class="score-form"> - <input type="text" class="score-form">
                        </div>
                    </td>
                    <td>プレイヤー6</td>
                </tr>
                <tr>
                    <td>プレイヤー3</td>
                    <td>
                        <div class="result">
                            <button class="result-win">○</button>
                            <button class="result-draw">△</button>
                            <button class="result-win">○</button>
                        </div>
                        <div class="score">
                            <input type="text" class="score-form"> - <input type="text" class="score-form">
                        </div>
                    </td>
                    <td>プレイヤー5</td>
                </tr>
            </table>
        </div>
        <div>
            <p>------- 第3回戦 -------</p>
            <table class="round">
                <tr>
                    <td>プレイヤー1</td>
                    <td>
                        <div class="result">
                            <button class="result-win">○</button>
                            <button class="result-draw">△</button>
                            <button class="result-win">○</button>
                        </div>
                        <div class="score">
                            <input type="text" class="score-form"> - <input type="text" class="score-form">
                        </div>
                    </td>
                    <td>プレイヤー5</td>
                </tr>
                <tr>
                    <td>プレイヤー2</td>
                    <td>
                        <div class="result">
                            <button class="result-win">○</button>
                            <button class="result-draw">△</button>
                            <button class="result-win">○</button>
                        </div>
                        <div class="score">
                            <input type="text" class="score-form"> - <input type="text" class="score-form">
                        </div>
                    </td>
                    <td>プレイヤー3</td>
                </tr>
                <tr>
                    <td>プレイヤー4</td>
                    <td>
                        <div class="result">
                            <button class="result-win">○</button>
                            <button class="result-draw">△</button>
                            <button class="result-win">○</button>
                        </div>
                        <div class="score">
                            <input type="text" class="score-form"> - <input type="text" class="score-form">
                        </div>
                    </td>
                    <td>プレイヤー6</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="league">
        <table border=1>
            <tr>
                <td></td>
                <td>プレイヤー1</td>
                <td>プレイヤー2</td>
                <td>プレイヤー3</td>
                <td>プレイヤー4</td>
                <td>プレイヤー5</td>
                <td>プレイヤー6</td>
                <td>勝ち点</td>
                <td>得点</td>
                <td>失点</td>
                <td>得失点差</td>
                <td>順位</td>
            </tr>
            <tr>
                <td>
                    プレイヤー1<mat-icon class="info">info</mat-icon>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    プレイヤー2<mat-icon class="info">info</mat-icon>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    プレイヤー3<mat-icon class="info">info</mat-icon>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    プレイヤー4<mat-icon class="info">info</mat-icon>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    プレイヤー5<mat-icon class="info">info</mat-icon>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    プレイヤー6<mat-icon class="info">info</mat-icon>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>