<h2>順位計算設定</h2>
<div class="rate">
    <div>
        <div class="point-setting">
            <label>勝ち：</label>
            <input type="text" class="point-form" value=3>点
            <br>
            <label>分け：</label>
            <input type="text" class="point-form" value=1>点
            <br>
            <label>負け：</label>
            <input type="text" class="point-form" value=0>点
        </div>
        <div class="winner-setting">
            <label>各グループの上位</label>
            <input type="text" class="winner-form">人まで勝ち上がり
        </div>
    </div>
    <div class="other-setting">
        <input type="checkbox">得失点差を考慮する
        <br>
        <button>結果を更新する</button>
    </div>
</div>
<hr>
<h2>リーグ表</h2>
<div *ngIf="linkages">
    <div id="group-1" *ngFor="let group of groups">
        <h3 *ngIf="group">{{group.name}}</h3>
        <div class="match-list">
            <div *ngFor="let round of getRoundNumber(group.id); let i = index">
                <p>------- 第{{i+1}}回戦 -------</p>
                <table class="round">
                    <tr *ngFor="let match of drawLotsCombination(group.id, i + 1)">
                        <td>{{match[0].name}}</td>
                        <td>
                            <div class="result">
                                <button class="result-win">○</button>
                                <button class="result-draw">△</button>
                                <button class="result-win">○</button>
                            </div>
                            <div class="score">
                                <input type="text" class="score-form"> - <input type="text" class="score-form">
                            </div>
                        </td>
                        <td>{{match[1].name}}</td>
                    </tr>
                    <tr *ngIf="breakPlayer">
                        対戦なし：{{breakPlayer.name}}
                    </tr>
                </table>
            </div>
        </div>
        <div class="league">
            <table border=1>
                <tr>
                    <td></td>
                    <td *ngFor="let player of getPlayersOfEachGroups(group.id)">
                        {{player.name}}
                    </td>
                    <td>勝ち点</td>
                    <td>得点</td>
                    <td>失点</td>
                    <td>得失点差</td>
                    <td>順位</td>
                </tr>
                <tr *ngFor="let player of getPlayersOfEachGroups(group.id)">
                    <td>
                        {{player.name}}<mat-icon class="info">info</mat-icon>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>