<h2>順位計算設定</h2>
<form [formGroup]="calSettingForm">
    <div class="rate">
        <div>
            <div class="point-setting">
                <label>勝ち：</label>
                <input type="text" class="point-form" formControlName="win">点
                <br>
                <label>分け：</label>
                <input type="text" class="point-form" formControlName="draw">点
                <br>
                <label>負け：</label>
                <input type="text" class="point-form" formControlName="lose">点
            </div>
            <div class="winner-setting">
                <label>各グループの</label>
                <input type="text" class="winner-form" formControlName="winnerRanks">位までが勝ち上がる
            </div>
        </div>
        <div class="other-setting">
            <input type="checkbox" formControlName="isConsiderDifference">[1] 得失点差を考慮する
            <br>
            <input type="checkbox" formControlName="isConsiderTotalGains">[2] 総得点数を考慮する
            <br>
            <input type="checkbox" formControlName="isConsiderDirectMatch">[3] 直接対決の勝敗を考慮する
            <br>
        </div>
    </div>
    <div class="discription">
        <p>
            各プレイヤーの順位は「勝ち点数 > [1] 得失点差 > [2] 総得点数 > [3] 直接対決の勝敗」の順で決定されます。<br>
            [1]〜[3]の条件を考慮するかどうかはチェックボックスのON/OFFで任意に設定可能です。
        </p>
    </div>
    <button type="submit" (click)="updateLeagues()">結果を更新する</button>
</form>
<hr>
<h2>リーグ表</h2>
<div *ngIf="players && groups">
    <div id="group-1" *ngFor="let group of groups">
        <h3 *ngIf="group">{{group.name}}</h3>
        <div class="group-parts">
            <app-match-lists [group]="group" [players]="players" class="group-contents">
            </app-match-lists>
            <app-league-table [group]="group" [players]="players" [matchInformations]="matchInformations"
                [calSettings]="calSettingForm.value" class="group-contents">
            </app-league-table>
            <app-grades-table [group]="group" [players]="players" [matchInformations]="matchInformations"
                class="group-contents">
            </app-grades-table>
        </div>
    </div>
</div>