/* 共通 */
button {
  border-radius: 5px;
  font-weight: bold;
  outline: none;
}
button:hover {
  cursor: pointer;
}
div[id^="group-"] {
  overflow: hidden;
}
.group-parts {
  display: flex;
}
.group-contents {
  margin-right: 30px;
}
table {
  border-collapse: collapse;
}

/* 順位計算設定エリア */
.rate {
  display: flex;
  margin-bottom: 20px;
}
.point-form {
  width: 35px;
}
.winner-form {
  width: 35px;
}
.winner-setting {
  margin-top: 20px;
}
.other-setting {
  margin: 0 10px;
}

/* 説明 */
.discription {
  font-size: 13px;
  color: gray;
}
