<div class="grades-table">
    <table border=1 *ngIf="matchInformations">
        <tr>
            <td>順位</td>
            <td>名前</td>
            <td>勝点</td>
            <td>得点</td>
            <td>失点</td>
            <td>得失点差</td>
        </tr>
        <tr *ngFor="let player1 of getPlayersOfEachGroups()"
            [class.superior]="isSuperiorOfFinalRound(player1.isSuperior)">
            <td>{{player1.rank}}</td>
            <td>{{player1.name}}</td>
            <td>{{player1.points}}</td>
            <td>{{player1.gains}}</td>
            <td>{{player1.losts}}</td>
            <td>{{player1.gains - player1.losts}}</td>
        </tr>
    </table>
</div>