<div class="grades-table">
    <mat-table [dataSource]="getPlayersOfEachGroups()" *ngIf="matchInformations">
        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef>順位</th>
            <td mat-cell *matCellDef="let player">
                {{player.rank}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>名前</th>
            <td mat-cell *matCellDef="let player">
                {{player.name}}</td>
        </ng-container>
        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef>勝点</th>
            <td mat-cell *matCellDef="let player">
                {{player.points}}</td>
        </ng-container>
        <ng-container matColumnDef="gains">
            <th mat-header-cell *matHeaderCellDef>得点</th>
            <td mat-cell *matCellDef="let player">
                {{player.gains}}</td>
        </ng-container>
        <ng-container matColumnDef="losts">
            <th mat-header-cell *matHeaderCellDef>失点</th>
            <td mat-cell *matCellDef="let player">
                {{player.losts}}</td>
        </ng-container>
        <ng-container matColumnDef="difference">
            <th mat-header-cell *matHeaderCellDef>得失点差</th>
            <td mat-cell *matCellDef="let player">
                {{player.gains - player.losts}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let player; columns: displayedColumns;"
            [class.superior]="isSuperiorOfFinalRound(player.isSuperior)"></tr>
    </mat-table>
</div>