<div class="block">
    <h2>参加者登録</h2>
    <table class="register-area">
        <thead>
            <tr>
                <th>No.</th>
                <th>名前</th>
                <th *ngFor="let otherItemLabel of otherItemLabels; let i = index">
                    {{otherItemLabel}}
                    <mat-icon class="delete-column" (click)="deleteAdditionalColumn(otherItemLabel, i)">
                        cancel_presentation</mat-icon>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inputInfomation of inputInformations">
                <td>{{inputInfomation.id}}</td>
                <td>
                    <input type="text" value={{inputInfomation.name}} #element
                        (blur)="addInputElement(inputInfomation.id, 'name', element.value)">
                </td>
                <td *ngFor="let otherItem of getOtherItems(inputInfomation.id)">
                    <input type="text" value={{otherItem[1]}} #element
                        (blur)="addInputElement(inputInfomation.id, otherItem[0], element.value)">
                </td>
                <td><input type="checkbox" (change)="switchDeleteTaeget(inputInfomation)"></td>
            </tr>
        </tbody>
    </table>
    <button (click)=" addInputForm()">+</button>
</div>
<div class="block">
    <input type="text" #additionalItem>
    <button (click)="addItem(additionalItem.value); additionalItem.value = ''">項目追加</button>
</div>
<div class="block">
    <button (click)="deleteInputInformations()">削除</button>
    <!-- <button>棄権</button> -->
    <button (click)="openShuffleDialog()">完了</button>
</div>