/* 共通 */
button {
  border-radius: 5px;
  font-weight: bold;
  outline: none;
}
button:hover {
  cursor: pointer;
}

/* 参加者リスト */
table {
  background-color: #d3d3d3;
}
.register-area thead, tbody {
  display: block;
}
.register-area tbody {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}
th, td {
  width: 150px;
  background-color: #ffffff;
}
td {
  height: 30px;
}
.delete-column {
  font-size: 15px;
}
.delete-column:hover {
  cursor: pointer;
}
td input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12px;
  text-overflow: ellipsis;
}
td input:focus {
  background-color: #e0ffe0;
}