<h2>リーグ表作成条件</h2>
<p>現在の参加者は{{totalPlayers}}人です。</p>
<div class="condition-area">
    <h3>グループ生成</h3>
    <div class="cond-form" [class.inactive]="isGroupsCreated()">
        <label>グループ数：</label>
        <!-- TODO: グループ生成後のtab操作によるフォーカス無効処理を追加する -->
        <input type="text" #groups>
    </div>
    <div class="create-group" [class.inactive]="isGroupsCreated()">
        <!-- TODO: グループ生成後のtab操作によるフォーカス無効処理を追加する -->
        <button (click)="createGroups(groups.value)">グループを生成</button>
    </div>
    <div *ngIf="groupLeagues.length > 0" class="created-groups">
        <p>以下のグループを生成しました。</p>
        <ul>
            <li *ngFor="let group of groupLeagues">
                {{group.name}}：{{group.numberOfPlayers}}人
            </li>
        </ul>
    </div>
</div>
<div class="condition-area" [class.inactive]="!(isGroupsCreated())">
    <h3>シャッフル実行</h3>
    <div class="cond-option">
        <input type="radio" id="manual" name="shuffle" (change)="switchActivation($event)" checked>手動シャッフル
        <div class="cond-form" [class.inactive]="shuffleMethod == 1">
            <button (click)="manualShuffle()">シャッフル</button>
            <span>{{shuffleCount}}回</span>
        </div>
    </div>
    <div class="cond-option">
        <input type="radio" id="auto" name="shuffle" (change)="switchActivation($event)">自動シャッフル
        <div class="cond-form" [class.inactive]="shuffleMethod == 0">
            <button (click)="autoShuffle()">シャッフル</button>
            <span *ngIf="autoShuffleMessage">{{autoShuffleMessage}}</span>
        </div>
    </div>
</div>
<div>
    <button>リーグ表を作成</button>
    <button mat-raised-button mat-dialog-close="cancel">キャンセル</button>
</div>
<div class="discription">
    <p>リーグ戦のグループは<span class="red">最大10個</span>作成することができます。<br>
        1グループあたりの最大参加人数は<span class="red">10人</span>です。<br>
        自動シャッフルの場合は、ランダムで1〜10回シャッフルされます。
    </p>
</div>