/* 共通 */
button {
  border-radius: 5px;
  font-weight: bold;
  outline: none;
}
button:hover {
  cursor: pointer;
}
h3 {
  padding-left: 10px;
}

/* 条件入力エリア */
.condition-area {
  border: solid grey 1px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.cond-option {
  margin-left: 20px;
  margin-bottom: 10px;
}
.cond-form {
  margin-left: 20px;
}
.create-group {
  margin: 20px 10px;
}
.created-groups {
  margin-left: 20px;
}
.inactive {
  pointer-events: none;
  opacity: 0.4;
}

/* 説明 */
.discription {
  font-size: 13px;
  color: gray;
}

span.red {
  color: red;
  font-weight: bold;
}