<div class="league-table">
    <table border=1 *ngIf="matchInformations">
        <tr>
            <td></td>
            <td *ngFor="let player of getPlayersOfEachGroups()">
                {{player.name}}
            </td>
            <td>勝点</td>
            <td>得点</td>
            <td>失点</td>
            <td>得失点差</td>
            <td>順位</td>
        </tr>
        <tr *ngFor="let player1 of getPlayersOfEachGroups()"
            [class.superior]="isSuperiorOfFinalRound(player1.isSuperior)">
            <td>
                {{player1.name}}<mat-icon class="info">info</mat-icon>
            </td>
            <td class="result-cell" *ngFor="let player2 of getPlayersOfEachGroups()">
                {{getMatchResultSymbol(player1.id, player2.id)}}
            </td>
            <td>{{player1.points}}</td>
            <td>{{player1.gains}}</td>
            <td>{{player1.losts}}</td>
            <td>{{player1.gains - player1.losts}}</td>
            <td>{{player1.rank}}</td>
        </tr>
    </table>
</div>